<%= form_for @currency do |f| %>
  <%= f.label :portfolio_name %>
  <%= display_name(@currency, @path) %>
  <%= portfolio_select(@currency, @path) %><br>
  
  <div class="field">
  <%= f.label :name %>
  <br>
  <%= f.text_field :name %>
  <div class="field">
    <%= f.number_field :user_id, type: "hidden" %>
  </div>
    <div class="field">
    <%= f.label :symbol %>
    <br>
    <%= f.text_field :symbol %>
  </div>
  <div class="field">
    <%= f.number_field :user_id, value: current_user.id, type: "hidden" %>
  </div>
    <br>
  <div class="field">
    <%= f.label :price_per %>
    <br>
    <%= f.text_field :price_per %>
  </div>
    <br>
  <div class="field">
    <%= f.label :amount_owned %>
    <br>
    <%= f.text_field :amount_owned %>
  </div>
    <br>
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>