<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Search for a specific cryptocurrency or stock.</h3>
  </div>
<div class="panel-body">

<br>

<%= form_tag home_search_path, :method => 'POST' do %>
    <%= text_field_tag 'sym', nil, placeholder: 'Enter Crypto or Stock Symbol', size: 50 %>
    <%= submit_tag 'Lookup Quote' %>
<% end %>

<br><br>



<br>

<%= @symbol %> 

<br><br>

<% if @symbol %>
    <% for x in @search_coin['data'] %>
        <% if @symbol == x['symbol'] %>
            <%= x['name'] %>: <br><br> 
           $ <%= x['quote']['USD']['price'] %> <br><br>
            Rank: <%= x['cmc_rank'] %> <br><br>
        <% end %>
    <% end %>
<% end %>